<div class="container">

	{{#each errors}}
	<div class="alert alert-danger">{{text}}</div>
	{{else}}
	{{/each}}


<div class="card card-body mt-4">
	<h3>Edit Project Ideas</h3>
	<form action="/ideas/{{ideas.id}}?_method=PUT" method="post">
		<input type="hidden" name="_method" value="PUT">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" class="form-control" name="title"  value="{{ideas.title}}" required>
		</div>
		<div class="form-group">
			<label for="details">Details</label>
			<textarea name="details" class="form-control" rows="8" required>{{ideas.details}}</textarea>
		</div>
		<button type="submit" class="btn btn-dark">Submit</button>
	</form>
</div> 
</div>